Source: ignition-cmake1
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 9)
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-cmake1-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-cmake1-release
Homepage: http://ignitionrobotics.org/

Package: libignition-cmake1-dev
Architecture: any
Section: libdevel
Depends: cmake
Multi-Arch: same
Description: Protobuf messages for ignitionics applications - Development files
 This library provides a set of google protobuf messages that are typically used
 in ignition applications. 
