#!/usr/bin/make -f
# -*- makefile -*-

.PHONY: override_dh_auto_configure override_dh_auto_install

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_install:
	dh_auto_install
	find 'debian/libignition-cmake1-dev/' -mindepth 1 -maxdepth 1 ! -name 'usr' -type d -exec rm -rf {} +

# Ignore testing libs
#override_dh_shlibdeps:
#	dh_shlibdeps -Xlibignition-core_
